extends layout

block content
  div.container
    h2 What does "Lost in translation mean"?
    p
      |When a message is translated from one language to another,
      |the meaning of the original message could be lost..
      |For example, the phrase "You just can't waltz right in there" 
      |when literally translated
      |might confuse the intended recipient.
    P
      |Human translators are able to translate the intenions of the message
      |and may opt not for a literal translation.
      |Computer translators are getting better at this.  But, there a still
      |cases where meaning gets "Lost in translation".
      
    h2 How do I use "Lost in translation" application"?
    ul
      li On the home page, enter a phrase and click "Submit".
      li This phrase will be translated to another language.
      li The resulting translation will be translated to the original language.
      ll The result will then display.