extends layout

block content
  div.container
  div: form(method='POST', action='home')
      if error
        div.alert.alert-danger #{error}

      div.form-group
        label Original Text:
        textarea.form-control(name='originalText', autofocus, style=('height: 50px')) #{originalText} 

      div.form-group
        label Options:
        select.form-control(name='option')
          option(value='1' selected=(option == '1' ? 'selected' : false)) English > Chinese > English
          option(value='2' selected=(option == '2' ? 'selected' : false)) English > Chinese > Spanish > English

      div.form-actions(style='text-align: center')
        input.btn.btn-secondary(type='button', value='Idea' style='margin-right: 10px' onclick='getIdea()')
        input.btn.btn-primary(type='submit', value='Submit')

      if echoText
        div.form-group
          label Echoed Text:
          div #{echoText}

  script.
    function getIdea() 
    {  
      $.getJSON( '/api/v1/idea', function( result ) {
        $('textarea').val(result.idea);
      });
    }  
