extends layout

block content
  div.container
    div: form(method='POST', action='signon')

        if error
          div.alert.alert-danger #{error}

        div.form-group
          label Email:
          input.form-control(name='email', value=email, type='email' autofocus)

        div.form-group
          label Password:
          input.form-control(name='password', type='password')

        div.form-actions.text-center
          input.btn.btn-primary(type='submit', value='Sign On')
          a(href='signup' style='margin-left: 10px') New User?
